#!/usr/bin/bash
# please replace credentials with 
# those from internet archive s3
# see https://git-annex.branchable.com/tips/Internet_Archive_via_S3/
#

export AWS_ACCESS_KEY_ID=blahblah
export AWS_SECRET_ACCESS_KEY=xxxxxxx
